<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{-14.69475,-75.11413}</string>
	<key>overlayTopLeftCoord</key>
	<string>{-14.69429,-75.11413}</string>
	<key>overlayTopRightCoord</key>
	<string>{-14.69429,-75.11370}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{-14.69475,-75.11413}</string>
</dict>
</plist>
